<h1>Shorten your link!</h1>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <input
          name="linkUrl"
          id="linkUrl"
          placeholder="Enter here your link"
          required
          matInput
          ngModel
        />
      </mat-form-field>

      <div class="btn">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >SHRINK</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<br>
<br>
<br>
<h1>NEW SHORT LINK</h1>

<mat-card *ngIf="shorten">
    <mat-card-content>
      <a class="shortUrl" [href]="apiUrl + '/links/' + shorten" (click)="clickUrl()">{{apiUrl + '/' + shorten}}</a>
    </mat-card-content>
</mat-card>
